BOT_TOKEN=REPLACE_WITH_NEW_BOT_TOKEN
 GUILD_ID=1402622761246916628
 OWNER_ROLE_ID=1402650246538072094
 CHATSEND_ROLE_ID=1406339861593591900
 ROLE_NAME=activated key
 MESSAGES_THRESHOLD=2500
 
 # Hosting URLs
 PUBLIC_URL=https://discord-key-bot-w92w.onrender.com
 SERVICE_URL=https://discord-key-bot-w92w.onrender.com
 DATA_DIR=.
 
 # NOWPayments
 NWP_API_KEY=0B97Z16-1KR4YC7-HBGPJ49-2RA8MSD
 NWP_IPN_SECRET=eEzWxA61xlxx9P6UdXN3LB2FXQShB47Z
 
 # Logging/Backup
 PURCHASE_LOG_WEBHOOK=https://discord.com/api/webhooks/1406364521278341343/u0msCkEx-gDS-3hifqMrCdpdciwtgZJ4PILyCwWvev6oFL8TraO8eK6UwE8Glfzqj7E5
 BACKUP_CHANNEL_ID=1405605743675310150
 BACKUP_INTERVAL_MIN=1
 PANEL_SECRET=7fd2ac6fbf3a8ead07ce2af4821fc91a24e91717d724621556a47f44c0264f3e
 
 # Selfbot UI extras (optional)
 JOIN_URL=https://discord.gg/fEeeXAJfbF
 SERVER_ICON_URL=https://cdn.discordapp.com/attachments/1389338051670446323/1406327041741291671/static_6.png
 STARTUP_MP4=startup.mp4
 STARTUP_SOUND=FN.wav
 LOGIN_BG_IMAGE=